.resources__logo-link {
  display: inline-block;
  height: inherit;
  transition: opacity .5s;
}

.resources__logo-link:hover {
  opacity: .7;
}

.resources__logo-link:last-child:hover {
  opacity: .5;
}
